<%= form_for @poll do |f| %>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="media">
          <%= fb_image_tag current_user.uid, class: "media-object img-rounded pull-left" %>
          <div class="media-body">
            <b>Create a new poll!</b>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row hidden" id="photo-div-[<%=f.index%>]">
          <div class="col-xs-12 col-sm-6">
            <img id="photo-preview-[<%=f.index%>]" class="img-responsive"/>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-10">
            <%= f.label :body, class: "sr-only" %>
            <%= f.text_area :body, class: "form-control input-sm", placeholder: "Enter a question!" %>
          </div>
          <div class="col-xs-2">
            <%= render "photo_button", f: f %>
          </div>
        </div>
      </div>

      <div class="list-group">
        <%= f.fields_for :answers do |a| %>
          <%= render "answer_fields", f: a, placeholder: "Enter an answer!" %>

        <% end %>         
        <div class="nested_fields">
          <%= link_to_add_association 'add_answer', f, :answers, render_options: { locals: { placeholder: "Enter an answer!" } } %>
        </div>
      </div>

      <div class="panel-footer">
        <div class="row">

          <div class="col-sm-4">

            <div class="checkbox">
            <%= f.label :allow_write_in do %>
              <%= f.check_box :allow_write_in %>Allow write-ins?
            <% end %>

            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.submit class: "btn btn-primary col-xs-12" %>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <%= render 'friends', not_invited: current_user.friends, invited: nil %>
  </div>
</div>
<% end %>