<%= form_for @poll do |f| %>
<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="media">
          <%= image_tag href="http://graph.facebook.com/#{current_user.uid}/picture?width=25&redirect=1&type=square&height=25", class: "media-object img-rounded pull-left"%>
          <div class="media-body">
            <b>Create a new poll!</b>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2">
            <div class="btn btn-primary btn-sm fileinput-button">
              <span class="glyphicon glyphicon-camera pull-left"></span>
            </div>
            <img id="uploadPreview" class="img-responsive img-rounded"/>
          </div>
          <div class="col-xs-10">
            <%= f.label :body, class: "sr-only" %>
            <%= f.text_area :body, class: "form-control input-sm", placeholder: "Enter a question!" %>
          </div>
        </div>
      </div>

      <div class="list-group">

        <%= f.fields_for :answers, @poll.answers.find_or_initialize_by(poll: @poll) do |a| %>
          <div class="list-group-item copy-fields">
            <div class="row">
              <div class="col-xs-2">
                <div class="btn btn-primary btn-sm fileinput-button">
                  <span class="glyphicon glyphicon-camera pull-left"></span>
                </div>
              </div>
              <div class="col-xs-10">
                <%= a.label :body, class: "sr-only" %>
                <%= a.text_field :body, class: "form-control input-sm", placeholder: "Enter poll option!" %>
                <%= link_to_add_fields "More", f, :answers %>
                <!--<button type="button" class="btn btn-primary btn-sm pull-right" disabled="disabled">

                  <span class="caret"></span><span class="pull-right">More</span></button>-->
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4">
            <%= f.check_box :allow_write_in, class: "form-control" %>
            <%= f.label :allow_write_in, "Allow write-ins?" %>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.submit class: "form-control pull-left" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>