<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel <%= @user_vote ? "panel-success" : "panel-primary" %>">

      <div class="panel-heading">
        <div class="media">
          <%= fb_image_tag @poll.user.uid, class: "media-object img-rounded pull-left img-fb" %>
          <div class="media-body">
            <b><%=@poll.user.first_name%> wants to know...</b>
          </div>
        </div>
      </div>

      <div class="panel-body row">
        <% if @poll.image_url %>
          <div class="col-xs-12 col-sm-6">
            <%= image_tag @poll.image_url(:standard), class: "img-responsive" %>
          </div>
        <% end %>
        <div class="col-xs-12 col-sm-6">
          <p class="lead"><%= @poll.body %></p> 
        </div>
      </div>

      <div class="list-group">
        <% @votes.each do |vote| %>
          <% next if vote.answer.blank? %>
          <div class="list-group-item <%= "alert-success" if @user_vote && @user_vote.answer == vote.answer %>">
            <% if @user_vote && @user_vote.answer == vote.answer %>
              <em>Your vote...</em>
            <% end %>
            <%= render 'answer', answer: vote.answer, num_votes: @num_votes, vote: vote %>
          </div>
        <% end %>
          <% if !@user_vote and @poll.allow_write_in %>
            <%= form_for @answer do |f| %>
              <%= render "answer_fields", f: f, placeholder: "Submit your own answer!" %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  <div class="col-xs-12 col-md-3">
    <%= form_for PollInvite.new(poll: @poll) do |f| %>
      <%= f.hidden_field :poll_id %>
      <%= render 'friends', not_invited: @not_invited, invited: @invited %>
      <%= f.submit "Invite!", class: "btn btn-sm btn-primary pull-right" %>
    <% end %>
  </div>
</div>
