<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <div class="media">
          <%= fb_image_tag @poll.user %>
          <div class="media-body">
            <b><%=@poll.user.first_name%> wants to know...</b>
          </div>
        </div>
      </div>

      <div class="panel-body row">
        <div class="col-xs-3">
          <%= image_tag "cat-wins.gif", class: "img-responsive img-rounded" %>
        </div>
        <div class="col-xs-9">
          <p class="lead"><%= @poll.body %></p> 
        </div>
      </div>

      <div class="list-group">
        <% @votes.each do |vote| %>
          <%= form_for vote, class: "blah" do |f| %>
            <a href="#" class="list-group-item vote-button">
              <%= f.hidden_field :answer_id %>
              <%= f.hidden_field :poll_id %> 
              <%= render 'answer', answer: vote.answer %>
              <p>Results: </p>
            </a>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>
